body {
    background-color: lightblue;
  }
  h1 {
    color: black;
    background-color: white;
    text-align: left;
    text-transform: unset;
    font-style: oblique;
    font-stretch: ultra-expanded;
    border: 4mm;
    border-radius: 2in;
    outline-style: groove;
    font-size: xx-large;
  }
  img {
    float: right;
  }
  p {
    font-size: large;
  }
h2 {
  font-size: x-large;
  font-variant: small-caps;
}
  